#infos-div {
    display: block;
    text-align: center;
}

.add-button {
    background-color: limegreen;
    border-radius: 8px;
}


#cancel-ci-button {
    background-color: orange;
    border-radius: 8px;
}

#del-ci-button {
    background-color: #ff4433;
    border-radius: 8px;
}
#ci-list-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ci {
    margin: 5px 5px 5px 5px;
}

label.ci {
    font-weight: bold;
}

#like-button {
    color: #007FFF;
}

#modify-descr-button {
    background-color: skyblue;
    border-radius: 8px;
}

#modify-profile {
    text-align: center;
}

.photo {
    max-width: 50%;
    max-height: 50%;
}