<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="header.css" />
    <link rel="stylesheet" type="text/css" href="footer.css" /> 
</head>
<body>
    <%- include('header'); -%>
    <p>Vous pouvez me contacter à l'adresse suivante : 
        <a href="mailto:dorothee.huynh@etu.univ-paris-diderot.fr">dorothee.huynh@etu.univ-paris-diderot.fr</a>
    </p>
    <%- include('footer'); -%>
</body>
</html>