
<nav class="navbar">
    <div class="wrapper">
        <a href="/" class="navbar-brand">People Matching</a>
        <ul class="navbar-right">
            <li><a href="/">Accueil</a></li>
            <li><a href="/login">Se connecter</a></li>
            <li><a href="/about">A propos de</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>    
    </div>
</nav>