<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Création de compte</title>
    <link rel="stylesheet" type="text/css" href="header.css" />
    <link rel="stylesheet" type="text/css" href="footer.css" />
    <link rel="stylesheet" type="text/css" href="signin.css" />
</head>

<body>
    <%- include('header', {id_user: id_user}); -%>
    <h1>Création de compte</h1>
    <form id="signin-form">
        <input type="text" name="firstname" id="firstname" placeholder="Prénom" required="true">
        <input type="text" name="lastname" id="lastname" placeholder="Nom" required="true">
        <label for="birthdate">Date de naissance (18+)</label>
        <input type="date" name="birthdate" id="birthdate" required="true">

        <label for="country_select">Pays : </label>
        <select id="country_select" required = "true">
            <option value="choice" selected>-- Choisir --</option>
        </select>
        <label for="sex_select">Sexe : </label>
        <select id="sex_select" required = "true">
            <option value="choice" selected>-- Choisir --</option>
            <option value="fvalue">Féminin</option> 
            <option value="mvalue" >Masculin</option>
            <option value="navalue">N/A</option>
        </select>
        <input type="email" name="email" id="email1" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Email" required="true">
        <input type="email" name="email" id="email2" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Email" required="true">
        <input type="password" name="password" id="password1" placeholder="Mot de passe" required="true">
        <input type="password" name="password" id="password2" placeholder="Mot de passe" required="true">
        <input type="submit" id="submit" value="Envoyer">
        <a href="/login">Vous avez déjà un compte ? Connectez-vous !</a>
        <div id="results">
            <%= error %>
        </div>
    </form>
    
    <script src="jquery-3.3.1.min.js"></script>
    <script>
        //Affichage du drop-down des pays
        const countries_list = '<%= countries %>'.split(",");
        let country_select = document.getElementById("country_select");
        for (let country of countries_list) {
            const opt = document.createElement("option");
            opt.setAttribute("value", country);
            opt.innerHTML = country;
            country_select.appendChild(opt);
        };

        // Limitation de la date maximale de l'input type date
        const date_input = document.getElementById("birthdate");
        const today = new Date();
        const maxdate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate())
        date_input.setAttribute("max", maxdate.toISOString().split('T')[0])
    </script>
    <script>
        function getAge(date) {
            const datetime = new Date(date);
            const now = new Date();
            let age = now.getUTCFullYear() - datetime.getUTCFullYear();
            if (datetime.getUTCMonth() > now.getUTCMonth() ||
                (datetime.getUTCMonth() == now.getUTCMonth() && datetime.getUTCDate() > now.getUTCDate())) {
                age--;
            }
            return age;
        }
        $(document).ready(function () {
            $("input[name='email']").focusin(function () {
                $(this).css('border', '1px solid black');
            });
            $("input[name='password']").focusin(function () {
                $(this).css('border', '1px solid black');
            });
            $('#submit').click(function (e) {
                e.preventDefault();
                //Retirer le texte + html des éventuelles erreurs
                $('#results').empty();
                let err = "";
                // Vérification des champs email et password :
                // les deux champs email doivent avoir le meme contenu, de même pour password
                if ($('#email1').val() != $('#email2').val()) {
                    err = err + "<p>Vous n'avez écrit pas le même email deux fois.</p>";
                    $("input[name='email']").css('border', '2px solid red');
                }
                else if ($('#email1').val() == "" || $('#email2').val() == ""){
                    err = err + "<p>Veuillez écrire votre adresse email dans les deux champs concernés.</p>"
                }
                else if ($('#password1').val() != $('#password2').val()) {
                    err = err + "<p>Vous n'avez écrit pas le même mot de passe deux fois.</p>";
                    $("input[name='password']").css('border', '2px solid red');
                }
                else if ($('#password1').val() == "" || $('#passcord2').val() == ""){
                    err = err + "<p>Veuillez écrire votre mot de passe dans les deux champs concernés.</p>"
                }
                // Vérification que la date de naissance est au moins 18 ans avant la date actuelle
                else if ((getAge($('#birthdate').val()) < 18)) {
                    err = err + "<p>Vous devez avoir 18 ans pour vous créer un compte.</p>";
                }
                else if ($('#country_select').val() == 'choice') {
                    err = err + "<p>Vous devez sélectionner votre pays de résidence.</p>";
                }
                else if ($('#sex_select').val() == 'choice') {
                    err = err + "<p>Vous devez sélectionner votre sexe.</p>";
                }
                if (err) {
                    $('#results').html(err);
                }
                else {
                    $.post('/signin', {
                        email: $('#email1').val().replace('"', ''),
                        password: $('#password1').val().replace('"', ''),
                        firstname: $('#firstname').val().replace('"', ''),
                        lastname: $('#lastname').val().replace('"', ''),
                        birthdate: $('#birthdate').val().replace('"', ''),
                        country: $('#country_select').val().replace('"', ''),
                        sex: $('#sex_select').val().replace('""', '')
                    },
                        function (data) {              
                            if (data.redirect) {
                                window.location.href = data.redirect;
                            }
                            else {
                                $('#results').html(data.error);
                            }
                        }
                    );
                }
            });
        });        
    </script>
    <%- include('footer'); -%>
</body>

</html>